**/node_modules
**/.svelte-kit
**/build
**/.vite
**/dist
!backend/internal/webui/dist/.gitkeep
**/data
**/*.db
**/*.db-shm
**/*.db-wal
bin/
.git
.github
.vscode
.idea
.DS_Store
charts/
*.md
!README.md
Makefile
